.big-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60vw;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.big-card__image{
    border-radius: 5px;
}

.big-card__date{
    margin-top: 10px;
    font-size: 0.8rem;
    margin-left: 2%;
    color: #999;
}

.big-card__title{
    margin-top: 15px;
    font-size: 2rem;
    margin-left: 2%;
    line-height: 0.9;
}

.big-card__subtitle{
    margin-top: 15px;
    font-size: 1.3rem;
    margin-left: 2%;
    color: #bbb;
    line-height: 1.5;
}