<article class="small-card">
    <img class="small-card__image" src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-ocean-with-white-cloud-blue-sky-copyspace_74190-8663.jpg?w=1060&t=st=1706470570~exp=1706471170~hmac=feb8d36af0ca4a79d35ca13e3f22f881ac4db44f044f5502e89364b9dede3c77" alt="foto principal">
    <div class="small-card__texts">
        <p class="small-card__date">28 jan, 2024 | 12h33</p>
        <h1 class="small-card__title">
            <a href="#" target="_blank">
            Campanha de vacinação contra a dengue começa nesta semana
            </a>
        </h1>
    </div>
</article>
